.hiddenThanksMessage {
    display:none;
    background-color: rgb(217, 242, 219);
    color: rgb(34, 34, 34);
    font-size: 15px;
    padding: 1vw 5vw;
    font-weight: bolder;
}

.paymentSucceededMessage {
    display:none;
    background-color: rgb(217, 242, 219);
    color: rgb(34, 34, 34);
    text-align: center;
    padding: 5vw 0;
    font-size: 20px;
}

.paymentSucceededMessage svg {
    width: 20px;
    position: relative;
    top: 3px;
}

@media (min-width: 992px) {
    .hiddenThanksMessage {
        font-size: 25px;
    }
    .paymentSucceededMessage {
        font-size: 30px;
        padding: 3vw 0;
    }
    .paymentSucceededMessage svg {
        width: 30px;
        position: relative;
        top: 5px;
    }
}


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.form-row {
    margin-bottom: 1rem;
}

.pricing-table .form-row .StripeElement input[type=text],
.pricing-table .form-row .StripeElement input[type=email] {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 0;
    line-height: 18px;
}

.pricing-table .form-row label {
    color: #C1C7CD;
    font-weight: normal;
    text-align: left;
    display: block;
    color: #757575;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}